<div class="example-container mat-elevation-z8">
  <h2>Corona Virus Cases List</h2>
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <input type="text" style="float:right" (keyup)="applyFilter($any($event.target).value)" placeholder="search for" class="form-control-sm top-margin">

  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/protected']"><mat-icon>add</mat-icon> Cases</a>
    <a mat-flat-button color="accent" [routerLink]="['/cases-stat']"><mat-icon>bar_chart</mat-icon> Statistic</a>
  </div>
  <div class="mat-elevation-z8">
    <mat-table class="mat-elevation-z8" [dataSource]="userListMatTabDataSource" matSort matSortActive="userName"
               matSortDirection="asc" matSortDisableClear>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Sr No</mat-header-cell>
        <mat-cell *matCellDef="let user; let i = index;">
          {{i+1}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{user.name}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{user.age}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let user" [style.color]="getColor(user.status)">
          {{user.status}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{user.country}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" [class.selected]="selectedRow == row.id"
               (click)="rowClick(row.id)" [routerLink]="['/cases-details/', row.id]">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/cases-details/', row.id]">
  </div>
</div>
